<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Friend</title>
    <!-- Bootstrap local static  -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!-- Header section -->
    <div class="row py-3">
        <div class="col-6">
            <button class="btn btn-secondary">
                &lt;
            </button>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-secondary">+</button>
        </div>
    </div>
    <!-- Profile section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Add a Friend!</h2>
            <!-- Form -->
            <form method="post">
                <!-- ID Input -->
                <div class='mb-3'>
                    <div class="text-left">
                        <label for='id' class='form-label'>ID:</label>
                    </div>
                    <input type='text' name='id' placeholder='ID:' class='form-control'>
                </div>
                <!-- Add Button -->
                <div class="text-right">
                    <button type='submit' class='btn btn-primary'>ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap local static -->
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>

</html>
