<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Friend</title>
    <!-- Bootstrap local static  -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
     <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Header section -->
    <div class="row py-3">
        <div class="col-6">
            <a href="{{url_for('show_home', username = username)}}" class="btn btn-secondary">
                &lt;
            </a>
        </div>

    </div>
    <!-- Profile section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Add a Friend!</h2>
            <!-- Form -->
            <form method="post">
                <!-- ID Input -->
                <div class='mb-3'>
                    <input style="margin-top: 20px;" type='text' name='friend' placeholder='Username:' class='form-control'>
                </div>
                <!-- Add Button -->
                <div class="text-right">
                    <button type='submit' class='btn btn-primary'>Add</button>
                </div>
                {%if error%}
                 <span class="error">Your friend haven't registered</span>
                {%endif%}

                {%if exist%}
                 <span class="error">Already Added</span>
                {%endif%}

                {%if success%}
                 <span class="success">Successfully added!</span>
                {%endif%}
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap local static -->
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>

</html>
