<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Friend</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!-- Header section -->
    <div class="row py-3">
        <div class="col-6">
            <button class="btn btn-secondary" onclick="goBackClick()">
                &lt;
            </button>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-secondary">+</button>
        </div>
    </div>
    <!-- Profile section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Add a Friend!</h2>
            <!-- Form -->
            <form action="#">
                <!-- ID Input -->
                <div class='mb-3'>
                    <div class="text-left">
                        <label for='id' class='form-label'>ID:</label>
                    </div>
                    <input type='text' id='id' name='id' placeholder='ID:' class='form-control'>
                </div>
                <!-- Add Button -->
                <div class="text-right">
                    <button type='submit' class='btn btn-primary'>ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
    function goBackClick() {
        window.location = 'index.html'
    }
</script>

</html>
