<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout a Github User!</title>
    <!-- Bootstrap local static  -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
 <style>
        #red{
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Header section -->
    <div class="row py-3">
        <div class="col-6">
            <button class="btn btn-secondary"  onclick="goBackClick()">
                &lt;
            </button>
        </div>
    </div>
    <!-- Profile section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Checkout a Github User!</h2>
            <!-- Form -->
            <form action="#">
                <!-- ID Input -->
                <div class='mb-3'>
                    <div class="text-left">
                        <label for='username' class='form-label'>Username:</label>
                    </div>
                    <input type='text' name='username' placeholder='Username:' class='form-control'>
                </div>
                <!-- Add Button -->
                <div class="text-right">
                    <button type='submit' class='btn btn-primary'>Search</button>
                </div>
                <p id="red">error message "username not found，please check again"</p>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap local static -->
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>

</html>
