<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout a Github User!</title>
    <!-- Bootstrap local static  -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
 <style>
        #red{
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Header section -->
    <div class="row py-3">
        <div class="col-6">
            <a href="{{url_for('show_home', username = username)}}" class="btn btn-secondary">
                &lt;
            </a>
        </div>
    </div>
    <!-- Profile section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Checkout a Github User! 🔍</h2>
            <!-- Form -->
            <form method="post">
                <!-- ID Input -->
                <div class='mb-3'>
                    <input style="margin-top: 20px;" type='text' name='username' placeholder='Username:' class='form-control' required>
                </div>
                <!-- Add Button -->
                <div class="text-right">
                    <button type='submit' class='btn btn-primary'>Search</button>
                </div>
                {% if error %}
                <p id="red">username not found, please check again</p>
                {% endif %}
            </form>
            {% if result%}
            <h4 class="mt-5">
               {{joke}}
            </h4>
            <p>Rating: {{rating}}<p>
            {% endif %}
        </div>
    </div>
</div>
<!-- Bootstrap local static -->
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>

</html>
