<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- Bootstrap local static  -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <style>
        .btn-group button{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Header section -->
    <div class="row py-3">
        <div class="col-6">
            <a class="btn btn-secondary" href="{{url_for('show_login')}}">
                logout
            </a>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-secondary" href="{{url_for('show_addfriend', username = username)}}">+</a>
        </div>
    </div>
    <!-- Profile section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Welcome {{username}}!! 👋</h2>
            <p>Github Rating: {{rating}}%</p>
        </div>
    </div>
    <!-- Joke section -->
    <div class="row my-4">
        <div class="col-12">
            <h4>Joke of the Day 🤣</h4>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{joke}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer section -->
    <div class="row">
        <div class="col-12 text-center">
            <div class="btn-group">
                <div class="row">
                    <div class="col-3">
                       <a href="{{url_for('show_myblogs', username = username)}}"><button class="btn btn-info">My Blogs</button></a> 
                    </div>
                    <div class="col-3">
                        <a href="{{url_for('show_friendblogs', username = username)}}"><button class="btn btn-info">Friends' Blogs</button></a>
                    </div>
                    <div class="col-3">
                        <a href="{{url_for('show_allblogs', username = username)}}"><button class="btn btn-info">All Blogs</button></a>
                    </div>
                    <div class="col-3">
                        <a href="{{url_for('show_checkout', username = username)}}"><button class="btn btn-info">Find out GitHub Users</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap local static -->
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>
