<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- Bootstrap local static  -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <style>
        .btn-group button{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Header section -->
    <div class="row py-3">
        <div class="col-6">
            <button class="btn btn-secondary" onclick="goBackClick()">
                &lt;
            </button>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-secondary" onclick="addFriendClick()">+</button>
        </div>
    </div>
    <!-- Profile section -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Profile Name</h2>
            <p>Introduce yourself!</p>
        </div>
    </div>
    <!-- Joke section -->
    <div class="row my-4">
        <div class="col-12">
            <h4>Joke of the Day</h4>
            <p>(Since we have a joke generator, we can use the advantage of it to make the Blog more interesting)</p>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">What do you call a fish wearing a bowtie? <br>
                        Sofishticated.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer section -->
    <div class="row">
        <div class="col-12 text-center">
<!--            <div class="btn-group">-->
<!--                <button class="btn btn-info">My Blog</button>-->
<!--                <button class="btn btn-info">Friends' Blog</button>-->
<!--                <button class="btn btn-info">Find out GitHub Rating!</button>-->
<!--            </div>-->
            <div class="btn-group">
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-info" onclick="myBlogPage()">My Blog</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-info" onclick="friendBlogPage()">Friends' Blog</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-info" onclick="checkoutPage()">Find out GitHub Rating!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap local static -->
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
<script>
    function myBlogPage() {
        window.location = 'myblog.html'
    }

    function friendBlogPage() {
        window.location = 'friendblog.html'
    }

    function checkoutPage() {
        window.location = 'checkout.html'
    }

    function goBackClick() {
        window.location = 'login.html'
    }

    function addFriendClick() {
        window.location = 'addfriend.html'
    }

</script>
</html>
