<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card p-4 shadow-sm border-0 rounded-lg">
                <!-- Welcome Message -->
                <h2 class="text-center mb-4">Welcome to your Blog!</h2>

                <!-- ID Input -->
                <div class="mb-3">
                    <label for="id" class="form-label">ID:</label>
                    <input type="text" id="id" name="id" class="form-control"/>
                </div>

                <!-- Passcode Input -->
                <div class="mb-3">
                    <label for="passcode" class="form-label">Passcode:</label>
                    <input type="password" id="passcode" name="passcode"
                           class="form-control"/>
                </div>

                <!-- Enter Button -->
                <button type='submit' name='submit' class='btn btn-primary mb-2' onclick="loginClick()" >Login</button>
                <button type='submit' name='submit' class='btn btn-danger mb-2' >Register</button>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
    function loginClick() {
        window.location = 'index.html'
    }
</script>
</html>

