<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap local static  -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card p-4 shadow-sm border-0 rounded-lg">
                <!-- Welcome Message -->
                <h2 class="text-center mb-4">Welcome to your Blog!</h2>

                <!-- Login Form -->
                <form action="/" method="post">
                    <!-- ID Input -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text"  name="username" class="form-control" required/>
                    </div>

                    <!-- Passcode Input -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control" required/>
                    </div>

                    <!-- Error Message -->
                    {% if error %}
                        <p class="text-danger">Username/Password Incorrect</p>
                    {% endif %}

                    <!-- Submit Buttons -->
                    <button type="submit" name="submit" value="login" class="btn btn-primary mb-2">Login</button>
                    <a href="{{ url_for('show_register') }}" class="btn btn-danger mb-2">Register</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap local static -->
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>
